<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="HobbyWheelsRcStore" content="width=device-width, initial-scale=1.0" />
    <title>HobbyWheels.com</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="icon" type="icon" href="/images/Logo.png">
</head>
<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="nav-bar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><span class="text-warning-fast">Hobby</span>Wheels</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
                <form action="/logOut" method="post">
                <button class="btn p-2 my-lg-0 my-2" id="log-out" type="submit">Log out</button></form>
            </div>
        </div>
    </nav>

    <!-- Home -->
    <section id="home">
        <h1 class="mx-lg-0 mx-2"><span style="color: red;">R</span>eady <span style="color: red;">T</span>o <span
                style="color: red;">R</span>un</h1>
        <p class="mx-lg-0 mx-2">
            Designed to power through rough terrains, explore
            uncharted trails, or tear up the streets, these tires guarantee that your vehicle performs at its peak.
        </p>
        <a href="#" style="text-decoration: none,">Order</a>
    </section>

    <!-- About -->
    <section id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-2">
                    <img src="/images/Logo.png" style="width: 350px; height: 350px" class="img" alt="logo" />
                </div>

                <div class="col-lg-6 col-md-6 col-12 p-lg -5 p-2 my-5">
                    <h1>ABOUT US</h1>
                    <p>
                        At HobbyWheels, we’re passionate about all things remote control! Founded by a group of RC
                        enthusiasts, our mission is to create a welcoming community for both newcomers and seasoned
                        racers alike. We believe that the thrill of RC cars goes beyond just the vehicles; it's about
                        the friendships, the races, and the shared experiences.
                    </p>
                    <h3>Our Vision</h3>
                    <p>We aim to be the go-to destination for RC car lovers, offering a wide range of products, expert
                        advice, and a vibrant community. Whether you're looking to buy your first RC car, seeking tips
                        for customization, or wanting to connect with fellow enthusiasts, we’ve got you covered.</p>
                    <h5>What We Offer</h5>
                    <ul>
                        <li>Comprehensive Guides: From choosing the right car to racing strategies, our resources are
                            designed to help you every step of the way.</li>
                        <li>Quality Products: We curate a selection of the best RC cars, parts, and accessories to
                            ensure you get the most out of your hobby.Quality Products: We curate a selection of the
                            best RC cars, parts, and accessories to ensure you get the most out of your hobby.</li>
                        <li>Community Engagement: Join our forums, participate in events, and share your experiences. At
                            RC Rev, you’re not just a customer; you’re part of our family.</li>
                    </ul>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Products -->
    <section id="products" style="background-color: black">
        <div class="container m-5">
            <h1 class="text-center my-5">OUR PRODUCTS</h1>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 p-2 my-lg-0 my-2">
                    <div class="card">
                        <img src="/images/car-1.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">LAFALA</h5>
                            <p class="card-text">Remote Control Car RC Cars 2.4G Racing Car 1:18 Licensed Toy RC Car
                                Compatible with Lamborghini Model Vehicle for Boys 6,7,8 Years Old, Red</p>
                            <h5>₹11,226</h5>
                            <button class="buttons">Order</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-12 p-2 my-lg-0 my-2">
                    <div class="card">
                        <img src="/images/car-2.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">GoolRC</h5>
                            <p class="card-text">GoolRC Rc Drift Car 1/16 Rc Car Remote Control Car 2.4Ghz 4Wd 40Km/H Rc
                                Race Car High Speed Kids Gift Rtr Rc Cars For Boys Waterproof Electric Car Toy Car</p>
                            <h5>₹12,226</h5>
                            <button class="buttons">Order</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 p-2 my-lg-0 my-2">
                    <div class="card">
                        <img src="/images/car-3.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Zest 4</h5>
                            <p class="card-text">Zest 4 Toyz Remote Control Car For Kids With Mist Smoke Effect 2 Wd
                                Monster Truck Rock Crawler Climbing Rc Toy Vehicle Car For Boys And Girls-Black</p>
                            <h5>₹10,226</h5>
                            <button class="buttons">Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contact -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <h1>Contact</h1>

                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <p id="lp1">To learn more about our services and offerings,<br>
                        Telephone Number: 044-245313642.<br>
                        Fax Number: 044-45502020.<br>
                        Mail ID: HobbyWheels@gmail.com</p>
                    <p id="lp2">&copy HobbyWheels. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>