<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login-style.css">
</head>
<!-- <body style="background-color: black;"> -->
    <section id="home">
    <!-- <center> -->
        <div class="login-bar">
           <h1 style="color: white; font-size: 30px;">Log In</h1>
          <div>  <form action="/login" method="post">
                <% if (error) { %>
                    <p style="color: white; font-size: 20px;" ><%= error %></p> 
                <% } %>
            </div>
                <input type="email" placeholder="Email" name="email" id="email" required>
                <input type="password" placeholder="Password" name="password" id="password" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    <!-- </center> -->
</section>
</body>
</html>